<link rel="stylesheet" href="/css/home.css">

<main class="main-content">
  
<section>
    <form action="/posts/create" id="new-post-form" method="POST">
        <h4>Create a Post</h4>
        <p>Your question</p>
        <input type="text" id="title" name="title" value=""><br>
        <p>Your answer</p>
        <textarea name="content" cols="30" rows="3"></textarea>
        <input type="submit" value="Post">
    </form>
</section>
<h4>Posts</h4>
<div id="posts-list-container">
  <ul>
    <% for(post of posts) { %>
      <li class="post-item">
        <div class="question">
          <%= post.title %>
        </div>
        <div class="author">
          By <%= post.user.name %>
        </div>
        <div class="answer">
          <%= post.content %>
        </div>
      </li>
    <% } %>
  </ul>
</div>

</main>
