<link rel="stylesheet" href="/css/home.css">

<main class="main-content">
  <h2>Welcome to Quora</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium felis nec turpis interdum, sit amet scelerisque dolor faucibus.</p>

</main>
