
  <link rel="stylesheet"  href="/css/user_profile.css">

<body>
  <div class="container">
    <div class="profile">
      <img src="profile-picture.jpg" alt="Profile Picture">
      <h1><%= user.name %></h1>
      <p>Web Developer</p>
    </div>
    
    <h2>About Me</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate condimentum nisl, eu condimentum ligula consectetur id. Vivamus luctus consequat justo, in ullamcorper ex congue at.</p>
    
    <h2>Contact Information</h2>
    <ul>
      <li>Email: <%=user.email%></li>
      <li>Join: <%=user.createdAt%></li>
      <li>Age: <%=user.age%></li>
    </ul>
  </div>
</body>
