header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-size: 24px;
    margin: 0;
    color: #fff;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f9d800;
}



footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.footer-links ul,
.footer-social ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-links li,
.footer-social li {
    display: inline-block;
    margin-right: 10px;
}

.footer-links li:last-child,
.footer-social li:last-child {
    margin-right: 0;
}

.footer-links a,
.footer-social a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.footer-links a:hover,
.footer-social a:hover {
    color: #f9d800;
}

.footer-social i {
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
}

.footer-social i:hover {
    color: #f9d800;
}

.footer-text {
    margin-top: 20px;
    font-size: 14px;
}


