.sidebar-right {
    background-color: #f1f1f1;
    width: 200px;
    padding: 20px;
    
  }
  
  .sidebar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-menu li {
    margin-bottom: 10px;
  }
  
  .sidebar-menu li a {
    text-decoration: none;
    color: #333;
  }
  
  .sidebar-menu li a:hover {
    color: #666;
  }
  